<div class="button-container">
    <button mat-raised-button color="primary"
        (click)="openEditDonorDialog()">
        Edit Account
    </button>
</div>

<div class="button-container">
    <button mat-raised-button color="warn"
        (click)="deleteAccount()">
        Delete Account
    </button>
</div>

<section class="table-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="locations">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Location Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-button color="primary"
                    (click)="onMakeAppointment(row)">
                    Make Appointment
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</section>

