button {
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.table-container {
    height: 400px;
    overflow: auto;
}

.button-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }