<div class="form-container">
    <h2>Login</h2>
    <form [formGroup]="form" class="form" >
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error *ngIf="this.form.touched && this.form.invalid">
                Username is invalid
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="this.form.invalid">
                Password is invalid
            </mat-error>
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary"
                (click)="onClick()">
                Login
            </button>

            <button mat-button color="primary"
                routerLink="../register">
                Register
            </button>
        </div>
    </form>
</div>