<h2 mat-dialog-title> Appointment Details </h2>

<mat-dialog-content class="form-container">
    <form [formGroup]="form" class="form" >

        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input type="text"
            placeholder="Pick a location"
            aria-label="Number"
            matInput
            formControlName="locationName"
            [matAutocomplete]="auto"
            >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let location of filteredLocations" [value]="location.name">
              {{location.name}}
            </mat-option>
          </mat-autocomplete>
          <!-- <mat-error *ngIf="form.get('locationName')?.invalid">Invalid location</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput 
            [min]="minDate" 
            [matDatepicker]="picker" 
            formControlName="datePicker" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- (click)="onUpdateDonor()" -->
        <button mat-raised-button color="primary"
            (click)="onMakeAppointment()"
            disabled={{form.invalid}}
            >
            Make Appointment
        </button>
    </form>

    

</mat-dialog-content>

